.heading  {
    color: darkblue;
    background-color: #ccc;
    border: 4px solid black;
    text-align: center;
}

img[alt="phone"]{
   border: 4px solid green;
}

.blue {
    color: blue;
background: url(catalog/img/phone.jpg) no-repeat 30px 40px;

.list {
    list-style-type: none;
    }

    .list li { 
        width: 70px;
        height: 25px;
        border: 1px solid #000;
    }

    .link {
        text-decoration: none;
        text-transform: lowercase;
    }

p {
    font-size: 1em
}
